@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
* {
}

.main-width {
  @apply max-w-main w-full px-4;
}

.header-wishlist,
.header-item {
  @apply h-full min-h-[40px];
}

.header-wishlist--cart:first-child,
.header-wishlist--cart ~ .header-wishlist--cart,
.header-item ~ .header-item {
  @apply border-l border-gray-200;
}
.header-item {
  @apply hidden  lg:block px-5;
}

.header-wishlist {
  @apply flex;
}

.header-wishlist--cart {
  @apply flex items-center text-2xl px-5 gap-2 cursor-pointer;
}

.header-wishlist--cart:first-child {
  @apply pr-6;
}
.header-wishlist--cart:last-child {
  @apply pl-6;
}

button.slick-next {
  right: 60px;
  z-index: 1;
}

button.slick-prev {
  right: 0;
  z-index: 1;
}
button.slick-next::before {
  content: "\276F";
}
button.slick-prev::before,
button.slick-next::before {
  width: 80px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.3);
  color: gray;
  border: 1px solid #ccc;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  position: absolute;
  transform: translateY(-50%);
  /* padding: 20px; */
}

button.slick-prev::before {
  content: "\276E";
}

img {
  @apply w-full h-full object-cover;
}
