@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
* {
}

.main-width {
  @apply max-w-main w-full px-4;
}

.header-wishlist,
.header-item {
  @apply h-full min-h-[40px];
}

.header-wishlist--cart:first-child,
.header-wishlist--cart ~ .header-wishlist--cart,
.header-item ~ .header-item {
  @apply border-l border-gray-200;
}
.header-item {
  @apply hidden  lg:block px-5;
}

.header-wishlist {
  @apply flex;
}

.header-wishlist--cart {
  @apply flex items-center text-2xl px-5 gap-2 cursor-pointer;
}

.header-wishlist--cart:first-child {
  @apply pr-6;
}
.header-wishlist--cart:last-child {
  @apply pl-6;
}

button.slick-next {
  /* right: 60px; */
  right: 0;
  z-index: 1;
}

button.slick-prev {
  /* right: -60px; */
  left: 0;
  z-index: 1;
}
button.slick-prev::before {
  content: "\276F";
  /* transform: translateX(50%); */
  left: 0;
}
button.slick-next::before {
  content: "\276F";
  /* transform: translateX(50%); */
  right: 0;
}
button.slick-prev::before,
button.slick-next::before {
  width: 80px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.3);
  color: gray;
  border: 1px solid #ccc;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  position: absolute;
  transform: translateY(-50%);
}
.shadow-box {
  position: relative;
  display: block;
}

.shadow-box:hover::after,
.shadow-box:hover::before {
  width: 100% !important;
  height: 100% !important;
}
.shadow-box::before,
.shadow-box::after {
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
  content: "";
  width: 0;
  height: 0;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
}
.shadow-box::after {
  bottom: 0;
  right: 0;
}
.shadow-box::before {
  top: 0;
  left: 0;
}

button.slick-prev::before {
  content: "\276E";
}

img {
  @apply w-full h-full object-cover;
  overflow-clip-margin: content-box;
  overflow: clip;
}
